<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>DRUSH_PATH="/usr/local/bin/drush"

#arg handling in alfred sucks, lets split it up
query="{query}"
IFS=" "
set -- $query

proj=''
site=''

gotodo() {
  open http://${site}drupal.org/${proj}/${nid}
}

check() {
  if [[ "$nid" =~ ^[0-9]+$ ]] ; then
    return 0
  else
    return 1
  fi
}

case "$1" in
  d)
    shift
    ${DRUSH_PATH} $@
    ;;
  g)
    #echo "group"
    nid=${2}
    check
    proj="node"
    site="groups."
    gotodo
    ;;
  m|t|p)
    #echo "proj"
    proj="project"
    site=""
    nid=$2
    gotodo
    ;;
  *)
    #echo "default"
    nid=$1
    site=""
    if check; then
      proj="node"
    else
      proj="project"
    fi
    gotodo
    ;;
esac

exit 0
</string>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>d</string>
	<key>logging</key>
	<true/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string></string>
	<key>title</key>
	<string>Drupal</string>
</dict>
</plist>
